.contact{
    padding:100px 0 ;
    border: 1px solid black;
    margin-top: 50px;
    .question{
       h2{
        margin-left: 100px;
        font-size: 64px;
       }
    }
        .application{
            input{
                padding: 7px 20px;
                outline: none;
                border: 1px dashed black;
                margin-bottom: 10px;
            }
            select{
                    outline: none;
                    border: 1px dashed black;
                    padding: 7px 20px;
            }
            #tel{
                width: 345px;
            }
            #job{
                width: 450px;
                margin-bottom:10px ;
            }
            button{
                border: none;
                display: block;
                background-color: chocolate;
                width: 450px;
                color: #fff;
                padding: 7px 20px;
            }
        }
    
}