header{
    height: 50px;
    nav{
       ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
           text-decoration: none;
            a{
                color:#000;
                text-decoration: none;
                &:hover::after{
                border-bottom: 2px solid red;
                display: block;
                width: 50px;
            }
            }
        }
       
       }
    }
}
