*{
    margin: 0;
    padding: 0;
}
section{
    height: 100%;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 150px;
    padding-top: 200px;
}
.box{
   width: 200px;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 200px;
}

span{
    display: none;
}

.box:hover span{
    display: block;
    color: #fff;
}
.box:hover p{
    display: none;
}
.box-1{
    background-color: brown;
}
.box-1:hover{
    transform: scale(1.2);
}
.box-2{
    background-color: rgb(11, 70, 11);
}
.box-2:hover{
    transform: translateX(10px) translateY(-150px);
}
.box-3{
    background-color: rgb(19, 17, 124);
}
.box-3:hover{
    transform: rotateY(360deg);

}
.box-4{
    background-color: rgb(136, 94, 17);
}
.box-4:hover{
    transform: skew(20deg);
}
.box:hover{
    transition-duration: 2s;

}
/* first section finished */
.second{
    height: 120vh;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mars{
    width: 100px;
    height: 100px;
    background-image: url(mars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.earth{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: earth 100s linear infinite ;
}
@keyframes earth {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.galaxy{
    width: 500px;
    height: 500px;
    animation: galaxy 200s linear  infinite  ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@keyframes galaxy {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
